* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    border-style: 2px solid black;
    margin: 20px;
}

label {
    width: 300px;
}

tr {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: left; */
}

fieldset table tr td {
    display: block;
    width: 100%;
}

form fieldset {
    width: 37vw;
}


/* .gender {
    display: flex;
    flex-direction: row;
} */